<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.tokbox.cordova.opentok"
    version="1.0.2">

    <name>OpenTok Cordova Plugin</name>
    <description>Add live video streaming to your Cordova Application</description>
    <license>Apache 2.0</license>
    <keywords>opentok,tokbox</keywords>

    <platform name="android">
      <asset src="www/opentok.js" target="opentok.js" />

      <source-file src="src/android/com/tokbox/cordova/OpenTokAndroidPlugin.java"
        target-dir="src/com/tokbox/cordova/" />

      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-feature android:name="android.hardware.camera" android:required="true" />
        <uses-feature android:name="android.hardware.autofocus" android:required="true" />
      </config-file>

      <!-- copy opentok sdk -->
      <source-file src="src/android/libs/opentok-android-sdk-2.0.jar" target-dir="libs/" />
      <source-file src="src/android/libs/armeabi/libopentok.so" target-dir="libs/armeabi" />

      <config-file target="config.xml" parent="/*">
        <feature name="OpenTokPlugin">
          <param name="android-package" value="com.tokbox.cordova.OpenTokAndroidPlugin"/>
        </feature>
      </config-file>
      
    </platform>

    <!-- ios -->
    <platform name="ios">
      <asset src="www/opentok.js" target="opentok.js" />

      <header-file src="src/OpenTokPlugin.h" />
      <source-file src="src/OpenTokPlugin.m" />
      <resource-file src="src/ios/Opentok.framework/Resources/opentok.bundle" />

      <framework src="src/ios/Opentok.framework" custom="true" />
      <framework src="Foundation.framework" />
      <framework src="UIKit.framework" />
      <framework src="AVFoundation.framework" />
      <framework src="QuartzCore.framework" />
      <framework src="OpenGLES.framework" />
      <framework src="CoreVideo.framework" />
      <framework src="AudioToolbox.framework" />
      <framework src="Security.framework" />
      <framework src="CoreMedia.framework" />
      <framework src="SystemConfiguration.framework" />
      <framework src="CFNetwork.framework" />
      <framework src="CoreTelephony.framework" />
      <framework src="libstdc++.6.0.9.dylib" />
      <framework src="libz.dylib" />

      <!-- Adopts project's config.xml to include the OpenTokPlugin and domain whitelists -->
      <config-file target="config.xml" parent="/*/plugins">
          <feature name="OpenTokPlugin">
              <param name="ios-package" value="OpenTokPlugin"/>
          </feature>
      </config-file>
      <config-file target="config.xml" parent="/*">
        <access origin="*" />
      </config-file>
    </platform>
</plugin>
